:root {
  --red: #ff0043;
  --dark-blue: #00194a;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
a,
button,
form {
  margin: 0;
  padding: 0;
}
.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: var(--dark-blue);
}
.download {
}
.container {
}
.download-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.download-item {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px var(--dark-blue);
}
.download-list-header {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.17;
  margin-bottom: 15px;
}
.download-text {
  margin-bottom: 20px;
}
.download-list-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--dark-blue);
  opacity: 0.5;
}
.icon{
    width: 25px;
    background-image: url(./images/symbol-defs.svg);
}
.download-download{
    width: 21px;
}
