.download__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.download__item {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px #00000008;
}
.download__list__header {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.17;
  margin-bottom: 15px;
  margin-bottom: 30px;
}
.download__text {
  margin-bottom: 20px;
}
.download__list__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:$darkblue-color;
  opacity: 0.5;
}
.icon {
  width: 25px;
  background-image: url(./images/symbol-defs.svg);
}
.download__download {
  width: 21px;
}